$min-mid-screen: 900px;
$min-wide-screen: 1190px;

$base-color: #2c3e50;
$light-base-color: #36495f;
$primary-color: #5c996b;
$secondary-color: #7acc8f;
$highlight-color: #99ffb2;

:root {
  --base-color: $base-color;
  --light-base-color: $light-base-color;
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
  --highlight-color: $highlight-color;
}

